/**General**/
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.fa-heart {
  font-size: 20px;
}

/**like button**/
.heart__liked {
  background: linear-gradient(to bottom, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.btn__container {
  width: 20px;
}
.btn__container .btn__heart {
  position: relative;
}
.btn__container .btn__heart i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.6s ease-in-out;
}
.btn__container .btn__heart i:nth-child(1) {
  opacity: 0;
}
.btn__container .btn__heart i:nth-child(2) {
  opacity: 1;
}
.btn__container .btn__heart:hover i:nth-child(1) {
  opacity: 1;
}
.btn__container .btn__heart:hover i:nth-of-type(2) {
  opacity: 0;
}

/**button violet**/
.btn__violet {
  color: white;
  background-image: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  transition: all 300ms ease-out;
  font-weight: 500;
}
.btn__violet:hover {
  opacity: 0.85;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
  transition: all 300ms ease-out;
}

/**footer**/
footer {
  padding: 22px 25px;
  background-color: #353535;
  color: white;
}
@media (min-width: 1024px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    height: 54px;
    padding: 30px 25px;
    gap: 16px;
  }
}
footer h2 {
  font-family: Shrikhand;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 18px;
}
@media (min-width: 1024px) {
  footer h2 {
    margin: 30px 0px 0px 0px;
    width: 137px;
  }
}
footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media (min-width: 1024px) {
  footer ul {
    display: flex;
    flex-direction: row;
  }
}
footer ul li {
  display: flex;
  gap: 11px;
  align-items: center;
}
@media (min-width: 1024px) {
  footer ul li {
    margin-top: 30px;
  }
  footer ul li:nth-child(n+3) {
    width: 130px;
  }
}
@media (min-width: 1024px) {
  footer ul p {
    width: 168px;
  }
}

/**header**/
.header__container__menu {
  display: flex;
  width: 100%;
  height: 63px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  position: relative;
}
@media (min-width: 1024px) {
  .header__container__menu {
    height: 96px;
  }
}
.header__container__menu a {
  position: absolute;
  top: 50%;
  left: 17px;
  transform: translateY(-50%);
}
.header__container__menu a i {
  font-size: 18px;
  color: #353535;
}
.header__container__menu img {
  width: 162px;
  height: 28px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 1024px) {
  .header__container__menu img {
    width: 200px;
    height: 34px;
  }
}

/**main**/
.img__menu {
  height: 275px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 60%;
     object-position: 50% 60%;
}
@media (min-width: 1024px) {
  .img__menu {
    height: 390px;
  }
}

.menu__container {
  margin-top: -50px;
  background-color: #F6F6F6;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  padding: 13px;
  max-width: 1055px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.restaurant__name {
  display: flex;
  align-items: flex-end;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 341px;
  height: 27px;
  margin-top: 20px;
}
@media (min-width: 1024px) {
  .restaurant__name {
    margin-top: 39px;
  }
}
.restaurant__name h2 {
  font-family: Shrikhand;
  font-size: 28px;
  font-weight: 400;
}

.btn__container {
  position: absolute;
  right: 24px;
  bottom: 50%;
  transform: translateY(-50%);
}

.menu__content {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.menu__category {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  width: 349px;
}
@media (min-width: 1024px) {
  .menu__category {
    width: 634px;
  }
}
.menu__category::after {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
}

.btn__menu {
  display: flex;
  justify-content: space-between;
  width: 349px;
  height: 69px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
  opacity: 0;
}
@media (min-width: 1024px) {
  .btn__menu {
    width: 634px;
  }
}
.btn__menu:hover .btn__check {
  width: 59px;
}
.btn__menu:hover .btn__content {
  width: calc(100% - 89px);
}
@media (min-width: 1024px) {
  .btn__menu:hover .btn__content {
    width: 550px;
  }
}
.btn__menu:hover .btn__check i {
  opacity: 1;
}

.btn__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 5px;
  padding: 15px;
  width: 319px;
  transition: width 250ms ease-out;
}
@media (min-width: 1024px) {
  .btn__content {
    width: 600px;
  }
}

.btn__left {
  overflow: hidden;
}
.btn__left h3 {
  font-size: 18px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.btn__left p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 15px;
  font-weight: 300;
}

.btn__check {
  width: 0%;
  background-color: #99E2D0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: width 250ms ease-out;
  position: relative;
}
.btn__check i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 250ms ease-out;
}

.price {
  font-size: 18px;
  font-weight: 700;
  color: #353535;
}

.btn__violet {
  width: 186px;
  height: 50px;
  margin: 40px 0;
  text-align: center;
  line-height: 50px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.f1 {
  animation: fadein 1.5s 0.2s forwards;
}

.f2 {
  animation: fadein 1.5s 0.4s forwards;
}

.f3 {
  animation: fadein 1.5s 0.6s forwards;
}

.f4 {
  animation: fadein 1.5s 0.8s forwards;
}

.f5 {
  animation: fadein 1.5s 1s forwards;
}

.f6 {
  animation: fadein 1.5s 1.2s forwards;
}

.f7 {
  animation: fadein 1.5s 1.4s forwards;
}

.f8 {
  animation: fadein 1.5s 1.6s forwards;
}

.f9 {
  animation: fadein 1.5s 1.8s forwards;
}

.f10 {
  animation: fadein 1.5s 2s forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/**loading animation**/
.loading {
  width: 100vw;
  height: 100vh;
  background-color: #EAEAEA;
  position: fixed;
  z-index: 9999;
  animation: loading 4s forwards;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading span {
  font-family: Shrikhand;
  margin-left: 2px;
  color: #353535;
}

.loading span:nth-child(1) {
  animation: loading__text 4s 0.2s forwards;
}

.loading span:nth-child(2) {
  animation: loading__text 4s 0.4s forwards;
}

.loading span:nth-child(3) {
  animation: loading__text 4s 0.6s forwards;
}

.loading span:nth-child(4) {
  animation: loading__text 4s 0.8s forwards;
}

.loading span:nth-child(5) {
  animation: loading__text 4s 1.2s forwards;
}

.loading span:nth-child(6) {
  animation: loading__text 4s 1.4s forwards;
}

.loading span:nth-child(7) {
  animation: loading__text 4s 1.6s forwards;
}

.loading span:nth-child(8) {
  animation: loading__text 4s 1.8s forwards;
}

.loading span:nth-child(9) {
  animation: loading__text 4s 2s forwards;
}

.loading span:nth-child(10) {
  animation: loading__text 4s 2.2s forwards;
}

.loading i {
  animation: loading__text 4s 2.4s forwards;
  color: #353535;
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes loading__text {
  0% {
    opacity: 1;
  }
  12% {
    transform: translateY(-50%);
  }
  25% {
    transform: translateY(0);
  }
  38% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(0);
  }
  62% {
    transform: translateY(-50%);
  }
  75% {
    opacity: 1;
    transform: translateY(0);
  }
  87% {
    transform: translateY(-50%);
  }
  100% {
    opacity: 0;
    transform: translateY(-50%);
    visibility: hidden;
  }
}
/****** General ***********/
.card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
.card img {
  -o-object-fit: cover;
     object-fit: cover;
}

/* header */
.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header__container .hdr__img {
  width: 100%;
  height: 63px;
  position: relative;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1024px) {
  .header__container .hdr__img {
    height: 93px;
  }
}
.header__container .hdr__img img {
  width: 162px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1024px) {
  .header__container .hdr__img img {
    width: 200px;
    height: 34px;
  }
}
.header__container .hdr__location {
  width: 100%;
  height: 50px;
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
}
.header__container .hdr__location button {
  border: none;
  height: 16px;
}

input {
  border: none;
  background-color: #EAEAEA;
  outline: none;
  width: 120px;
  caret-color: #EAEAEA;
}
input::-moz-placeholder {
  font-size: 16px;
  font-weight: 500;
  color: #353535;
}
input::placeholder {
  font-size: 16px;
  font-weight: 500;
  color: #353535;
}

/**main**/
.introduction {
  height: 300px;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1024px) {
  .introduction {
    padding: 30px 0px;
    height: 180px;
  }
}
.introduction h2 {
  width: 275px;
  height: 68px;
  text-align: center;
  margin: 40px 0px 0px;
}
@media (min-width: 1024px) {
  .introduction h2 {
    width: 100%;
    font-size: 40px;
    font-weight: 700;
    margin: 0px;
    height: 47px;
    line-height: 47px;
  }
}
.introduction p {
  width: 315px;
  height: 46px;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
}
@media (min-width: 1024px) {
  .introduction p {
    width: 100%;
    line-height: 46px;
  }
}

.btn__violet {
  width: 218px;
  height: 50px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 27px;
}

.Fonc__container {
  display: flex;
  justify-content: center;
  height: 440px;
}
@media (min-width: 1024px) {
  .Fonc__container {
    height: 230px;
  }
}

@media (min-width: 1024px) {
  .Fonc {
    max-width: 1080px;
    width: 100%;
  }
}
.Fonc h2 {
  margin-top: 48px;
}
.Fonc ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 26px;
  margin-left: 12px;
  gap: 25px;
  list-style: none;
}
@media (min-width: 1024px) {
  .Fonc ul {
    flex-direction: row;
    justify-content: center;
    gap: 36px;
  }
}
.Fonc .Fonc__btn {
  width: 322px;
  height: 72px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  position: relative;
}
@media (min-width: 1024px) {
  .Fonc .Fonc__btn {
    width: 33.3333333333%;
  }
}
.Fonc .Fonc__btn span {
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 50%;
  background-color: #9356DC;
  text-align: center;
  color: white;
  position: absolute;
  left: -12px;
}
.Fonc .Fonc__btn p {
  position: absolute;
  left: 74px;
}
.Fonc .Fonc__btn i {
  position: relative;
  left: 33px;
}

/**Restaurants**/
.Restaurants__container {
  display: flex;
  justify-content: center;
  padding-top: 54px;
  padding-bottom: 66px;
  background-color: #F6F6F6;
}

@media (min-width: 1024px) {
  .Restaurants {
    max-width: 1080px;
    width: 100%;
  }
}
.Restaurants h2 {
  margin-bottom: 25px;
}
.Restaurants .Restaurants__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}
@media (min-width: 1024px) {
  .Restaurants .Restaurants__card {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
  }
}
.Restaurants .card {
  width: 340px;
  height: 251px;
  overflow: hidden;
}
@media (min-width: 1024px) {
  .Restaurants .card {
    width: calc(50% - 50px);
  }
}
.Restaurants .card img {
  width: 100%;
  height: 231px;
  position: absolute;
  bottom: 77px;
}
.Restaurants .card .card__content {
  position: relative;
  top: 180px;
  margin-top: 16px;
  margin-left: 13px;
}

.btn__container {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.card__content h3 {
  font-size: 18px;
  font-weight: 700;
}
.card__content p {
  font-size: 17px;
  font-weight: 300;
}

.card {
  position: relative;
}
.card .Nouveau {
  width: 80px;
  height: 29px;
  color: #008766;
  background-color: #99E2D0;
  position: absolute;
  top: 13px;
  right: 12px;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=main.css.map */