@charset "UTF-8";
/**General**/
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.fa-heart {
  font-size: 20px;
}

/**like button**/
.heart__liked {
  background: linear-gradient(to bottom, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.btn__container {
  width: 20px;
}
.btn__container .btn__heart {
  position: relative;
}
.btn__container .btn__heart i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.6s ease-in-out;
}
.btn__container .btn__heart i:nth-child(1) {
  opacity: 0;
}
.btn__container .btn__heart i:nth-child(2) {
  opacity: 1;
}
.btn__container .btn__heart:hover i:nth-child(1) {
  opacity: 1;
}
.btn__container .btn__heart:hover i:nth-of-type(2) {
  opacity: 0;
}

/**button violet**/
.btn__violet {
  color: white;
  background-image: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  transition: all 300ms ease-out;
  font-weight: 500;
}
.btn__violet:hover {
  opacity: 0.85;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
  transition: all 300ms ease-out;
}

/**footer**/
footer {
  padding: 22px 25px;
  background-color: #353535;
  color: white;
}
footer h2 {
  font-family: Shrikhand;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 18px;
}
footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
footer ul li {
  display: flex;
  gap: 11px;
  align-items: center;
}

@media (min-width: 1024px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    height: 54px;
    padding: 30px 25px;
    gap: 16px;
  }
  footer h2 {
    margin: 30px 0px 0px 0px;
    width: 137px;
  }
  footer ul {
    display: flex;
    flex-direction: row;
  }
  footer ul li {
    margin-top: 30px;
  }
  footer ul li:nth-child(n+3) {
    width: 130px;
  }
  footer ul li p {
    width: 168px;
  }
}
/**loading animation**/
.loading {
  width: 100vw;
  height: 100vh;
  background-color: #EAEAEA;
  position: fixed;
  z-index: 9999;
  animation: loading 4s forwards;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading span {
  font-family: Shrikhand;
  margin-left: 2px;
  color: #353535;
}

.loading span:nth-child(1) {
  animation: loading__text 4s 0.2s forwards;
}

.loading span:nth-child(2) {
  animation: loading__text 4s 0.4s forwards;
}

.loading span:nth-child(3) {
  animation: loading__text 4s 0.6s forwards;
}

.loading span:nth-child(4) {
  animation: loading__text 4s 0.8s forwards;
}

.loading span:nth-child(5) {
  animation: loading__text 4s 1.2s forwards;
}

.loading span:nth-child(6) {
  animation: loading__text 4s 1.4s forwards;
}

.loading span:nth-child(7) {
  animation: loading__text 4s 1.6s forwards;
}

.loading span:nth-child(8) {
  animation: loading__text 4s 1.8s forwards;
}

.loading span:nth-child(9) {
  animation: loading__text 4s 2s forwards;
}

.loading span:nth-child(10) {
  animation: loading__text 4s 2.2s forwards;
}

.loading i {
  animation: loading__text 4s 2.4s forwards;
  color: #353535;
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes loading__text {
  0% {
    opacity: 1;
  }
  12% {
    transform: translateY(-50%);
  }
  25% {
    transform: translateY(0);
  }
  38% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(0);
  }
  62% {
    transform: translateY(-50%);
  }
  75% {
    opacity: 1;
    transform: translateY(0);
  }
  87% {
    transform: translateY(-50%);
  }
  100% {
    opacity: 0;
    transform: translateY(-50%);
    visibility: hidden;
  }
}
/****** General ***********/
.card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
.card img {
  -o-object-fit: cover;
     object-fit: cover;
}

/* header */
.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header__container .hdr__img {
  width: 100%;
  height: 63px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.header__container .hdr__img img {
  width: 162px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__container .hdr__location {
  width: 100%;
  height: 50px;
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
}
.header__container .hdr__location button {
  border: none;
  height: 16px;
}

input {
  border: none;
  background-color: #EAEAEA;
  outline: none;
  width: 120px;
  caret-color: #EAEAEA;
}
input::-moz-placeholder {
  font-size: 16px;
  font-weight: 500;
  color: #353535;
}
input::placeholder {
  font-size: 16px;
  font-weight: 500;
  color: #353535;
}

/**main**/
.introduction {
  height: 300px;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.introduction h2 {
  width: 275px;
  height: 68px;
  text-align: center;
  margin: 40px 0px 0px;
}
.introduction p {
  width: 315px;
  height: 46px;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
}

.btn__violet {
  width: 218px;
  height: 50px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 27px;
}

.Fonc__container {
  display: flex;
  justify-content: center;
  height: 440px;
}

.Fonc h2 {
  margin-top: 48px;
}
.Fonc ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 26px;
  margin-left: 12px;
  gap: 25px;
  list-style: none;
}
.Fonc .Fonc__btn {
  width: 322px;
  height: 72px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  position: relative;
}
.Fonc .Fonc__btn span {
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 50%;
  background-color: #9356DC;
  text-align: center;
  color: white;
  position: absolute;
  left: -12px;
}
.Fonc .Fonc__btn p {
  position: absolute;
  left: 74px;
}
.Fonc .Fonc__btn i {
  position: relative;
  left: 33px;
}

/**Restaurants**/
.Restaurants__container {
  display: flex;
  justify-content: center;
  padding-top: 54px;
  padding-bottom: 66px;
  background-color: #F6F6F6;
}

.Restaurants h2 {
  margin-bottom: 25px;
}
.Restaurants .Restaurants__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}
.Restaurants .card {
  width: 340px;
  height: 251px;
  overflow: hidden;
}
.Restaurants .card img {
  width: 100%;
  height: 231px;
  position: absolute;
  bottom: 77px;
}
.Restaurants .card .card__content {
  position: relative;
  top: 180px;
  margin-top: 16px;
  margin-left: 13px;
}

.btn__container {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.card__content h3 {
  font-size: 18px;
  font-weight: 700;
}
.card__content p {
  font-size: 17px;
  font-weight: 300;
}

.card {
  position: relative;
}
.card .Nouveau {
  width: 80px;
  height: 29px;
  color: #008766;
  background-color: #99E2D0;
  position: absolute;
  top: 13px;
  right: 12px;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Le code ci-dessous correspond à la version responsive uniquement */
/****** Media queries ***********/
/* Desktop */
@media (min-width: 1024px) {
  .header__container .hdr__img {
    height: 93px;
  }
  .header__container .hdr__img img {
    width: 200px;
    height: 34px;
  }
  .introduction {
    padding: 30px 0px;
    height: 180px;
  }
  .introduction h2 {
    width: 100%;
    font-size: 40px;
    font-weight: 700;
    margin: 0px;
    height: 47px;
    line-height: 47px;
  }
  .introduction p {
    width: 100%;
    line-height: 46px;
  }
  .Fonc__container {
    height: 230px;
  }
  .Fonc {
    max-width: 1080px;
    width: 100%;
  }
  .Fonc ul {
    flex-direction: row;
    justify-content: center;
    gap: 36px;
  }
  .Fonc .Fonc__btn {
    width: 33.3333333333%;
  }
  .Restaurants {
    max-width: 1080px;
    width: 100%;
  }
  .Restaurants .Restaurants__card {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
  }
  .Restaurants .card {
    width: calc(50% - 50px);
  }
}/*# sourceMappingURL=style.css.map */