

/**loading animation**/ 

.loading{
  width: 100vw;
  height: 100vh;
  background-color: $grey2;
  position: fixed;
  z-index: 9999;
  animation: loading 4s forwards;
  @include flexCenter;
    
    span{
       font-family: Shrikhand;
       margin-left: 2px;
       color: $grey;
    }
}

.loading span:nth-child(1){
  animation: loading__text 4s 0.2s forwards;
}
.loading span:nth-child(2){
  animation: loading__text 4s 0.4s forwards;
}
.loading span:nth-child(3){
  animation: loading__text 4s 0.6s forwards;
}
.loading span:nth-child(4){
  animation: loading__text 4s 0.8s forwards;
}
.loading span:nth-child(5){
  animation: loading__text 4s 1.2s forwards;
}
.loading span:nth-child(6){
  animation: loading__text 4s 1.4s forwards;
}
.loading span:nth-child(7){
  animation: loading__text 4s 1.6s forwards;
}
.loading span:nth-child(8){
  animation: loading__text 4s 1.8s forwards;
}
.loading span:nth-child(9){
  animation: loading__text 4s 2.0s forwards;
}
.loading span:nth-child(10){
  animation: loading__text 4s 2.2s forwards;
}
.loading i{
  animation: loading__text 4s 2.4s forwards;
  color: $grey;
}
@keyframes loading{
0%{opacity: 1;}
75%{opacity: 1;}
100%{opacity: 0;
  visibility: hidden;}
}

@keyframes loading__text{
  0%{opacity: 1;}
  12%{transform: translateY(-50%);}
  25%{transform: translateY(0);}
  38%{transform: translateY(-50%);}
  50%{transform: translateY(0);}
  62%{transform: translateY(-50%);}
  75%{opacity: 1; 
    transform: translateY(0);}
  87%{transform: translateY(-50%);}  
  100%{opacity: 0;
    transform: translateY(-50%);  
    visibility: hidden;}
}



/****** General ***********/


.card{
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);

    img{
      object-fit: cover
    }
}




/* header */

.header__container{
  @include flexCenter;
  flex-direction: column;
 .hdr__img{
    width: 100%;
    height: 63px;
    position: relative;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    @include flexCenter;
    @include pc {
      height: 93px;
    }

  img{
     width: 162px;
     height: 28px;
     @include flexCenter;
     @include pc {
      width: 200px;
      height: 34px;
     }
    }
  }
  .hdr__location{
    width: 100%;
    height: 50px;
    background-color: $grey2;
    @include flexCenter;
    gap: 17px;
   
      button{
        border: none;
        height: 16px;
      }
  }
}

input{
  border: none;
  background-color: $grey2;
  outline:none;
  width: 120px;
  caret-color: $grey2;
   &::placeholder{
    font-size: 16px;
    font-weight: 500;
    color:$grey;
   }
}

/**main**/

.introduction{
  height: 300px;
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include pc {
    padding: 30px 0px;
    height: 180px;
  }
  h2{
    width: 275px;
    height: 68px;
    text-align: center;
    margin: 40px 0px 0px;
    @include pc {
      width: 100%;
      font-size: 40px;
      font-weight: 700;
      margin: 0px;
      height: 47px;
      line-height: 47px;
    }
  }

  p{
    width: 315px;
    height: 46px;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    @include pc {
      width: 100%;
      line-height: 46px;
    }
   }

}


.btn__violet{
  width: 218px;
  height: 50px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-top: 27px;
}

.Fonc__container{
  display: flex;
  justify-content: center;
  height: 440px;
  @include pc {
    height: 230px;
  }
}

.Fonc{
  @include pc {
    max-width: 1080px;
    width: 100%;
  }

  h2{
    margin-top: 48px;
  }

  ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 26px;
    margin-left: 12px;
    gap: 25px;
    list-style: none;
    @include pc {
      flex-direction: row;
      justify-content: center;
      gap: 36px;
    }
  }
  .Fonc__btn{
    width: 322px;
    height: 72px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: $background-color;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    position: relative;
    @include pc {
      width: calc(100%/3);
    }
    span{
      width: 24px;
      height: 24px;
      line-height: 24px;
      border-radius: 50%;
      background-color: $violet;
      text-align: center;
      color: white;
      position: absolute;
      left: -12px;
      
    }

    p{
      position: absolute;
      left: 74px;
    }
    i{
      position: relative;
      left: 33px;
    }
  
  }

}

/**Restaurants**/ 

.Restaurants__container{
  display: flex;
  justify-content: center;
  padding-top: 54px;
  padding-bottom: 66px;
  background-color: $background-color;
}

.Restaurants{
  @include pc {
    max-width: 1080px;
    width: 100%;
  }
  h2{
    margin-bottom: 25px;
  }
  .Restaurants__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    @include pc {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 50px;
    }
  }
  
  .card {
    width: 340px;
    height: 251px;
    overflow: hidden;
    @include pc {
      width:calc(50% - 50px);
    }
     img{
      width: 100%;
      height: 231px;
      position: absolute;
      bottom: 77px;
    }

    .card__content{
      position: relative;
      top: 180px;
      margin-top: 16px;
      margin-left: 13px;
      
      
    }
      
  }
}

.btn__container{
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.card__content{
  
    h3{
    font-size: 18px;
    font-weight: 700;
    }

    p{
    font-size: 17px;
    font-weight: 300;
    }
  }


.card{
  position: relative;
  
  .Nouveau{
    width: 80px;
    height: 29px;
    color:$vert-fonce;
    background-color: $vert-clair;
    position: absolute;
    top: 13px;
    right: 12px;
    font-size: 14px;
    font-weight: 500;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    z-index: 2;
    @include flexCenter;
   }
}





